<app-navbar></app-navbar>


<div class="container my-5">
    <div class="card">
    <div class="card-header bg-dark text-light">
    </div>
    <!-- /.card-header -->
    <div class="card-body bg-secondary">
        <app-tabla  [episodes]="episodes" (verPersonajes)="VerPersonajes($event)"></app-tabla>
  </div>
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <li class="page-item" *ngIf="paginate['prev']!=null"><a class="page-link" href="#">«</a></li>
      <li class="page-item" *ngFor="let item of paginas;let i=index"><a class="page-link" href="#" >{{i+1}}</a></li>
      <li class="page-item"><a class="page-link" href="#">»</a></li>
    </ul>
  </div>
</div>
